@use '../utils/variables' as *;
ul {
    list-style-position: outside;
    margin-left: -0.5rem;
   li {
    padding: 0.2rem;
    &::marker {
        color: $primary;
  }
   } 
}

ol {
        margin-left: -1rem;
    li {
     &::marker {
        color: $primary;
    }
    }
}