/* Placeholder pour gérer la largeur du block article contenant les informations du temps de préparation de la recette */
%manageWidthArticlePreparationTime {
    /* Mobile first */
    width: 100%; 
 /* Tablette */
    @media screen and (width>768px) {
        width: 57%;
    }

    /* Ordinateurs */
    @media screen and (width>992px) {
        width: 40%;
    }
}